*{
    margin: 0px;
    padding: 0px;
    font-family: VT323;
    font-weight: 500;
    box-sizing: border-box;
}

.center{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.text-animation{
    font-family: VT323;
    text-align: center;
    display: none;
}

.text-animation span {
    display: inline-block;
    margin: 5px;
    width: 30px;
    height: 30px;
    font-size:25px ;
    line-height: 30px;
    color:#212529;
    border-radius: 2px;
}

.text-animation span.block{
    background: #212529;
}

.text-animation span.box{
    border: 1px solid #212529;
}
